


				#search {
			z-index:102;
		}
		
						#search.input-group .form-control {
			float:none !important;
		}
				
				.adsmart_container  + .input-group-btn {
			vertical-align:top !important;	
		}



.adsmart_container {
	position:relative !important;
	padding:0; margin:0;
}


.adsmart_search {

	z-index:99999999 !important; 
	position:relative;

		
	display:block; 	
	padding:2px !important;
	padding-bottom:0 !important;
	padding-right: 10px; 
	
	border: 1px solid #e7e7e7	 !important ;
	background-color: #fafafa		 !important ;	

	
	-webkit-border-radius: 4px;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius: 4px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	border-radius: 4px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	
		-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.adsmart_search * {
	box-sizing: border-box;
}

.adsmart_search ul{
	box-sizing: border-box;
	list-style-type: none !important;
	padding:0;margin:0;
}

.adsmart_search li {
	list-style-type: none !important;
	display: table !important;	
	width:100%;
	padding: 4px !important;
} 

.adsmart_search a.item_link {
	display: table-row !important;	
	width:100% !important;	
	margin:0;
	line-height:normal;
	text-decoration:none;
	overflow:visible !important;
}


.adsmart_search .adsmart_info_msg {
	background-image:none;
	border-top:none;
	list-style-type: none;
}


.adsmart_search div.image {

	display: table-cell  !important ;
	
	vertical-align: middle !important;
	margin:0 !important;
	padding:0px !important;
	box-sizing: content-box !important;
}

.adsmart_search div.image, 
.adsmart_search div.image img {			
	width: 30px  !important ;
	height: 30px  !important ;
	
}

.adsmart_search div.image img {
	float:left !important;
	padding:0 !important; 
	margin:0 !important;
	border:1px solid #e7e7e7  !important ;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}


.adsmart_search div.name {

	display: table-cell !important;	
	width:auto !important;
	padding-left:10px !important;	
	vertical-align: middle !important;
	
	font-style: normal !important;
	font-size: 16px	 !important ;
	font-weight:normal;
	color: #454545		 !important ;	
}

.adsmart_search div.price {

	display: table-cell  !important ;
	width:auto !important;
	padding: 0 10px 0 20px !important;
	vertical-align: middle !important;
	
	font-style: normal !important;
	font-weight: bold !important;

	font-size: 13px  !important ;
	color: #2ba591  !important ;

	white-space: nowrap !important;
	text-align:right !important;
}

.adsmart_search div.price s {
	color: #ff4d4d  !important;
}



.adsmart_search .adsmart_info_msg {
	height: 10px !important;	
	
	position:relative; top:0px; }

.adsmart_search .adsmart_info_msg div.adsmart_loading {
	
	margin: 0 auto !important;
	position:relative; top:0px;
	width: 30px !important;
	height: 30px !important;	
	background-color: transparent !important;	
	z-index:10000 !important;
}

.adsmart_search .adsmart_info_msg.no_results {
	text-align:center !important;
	padding: 5px 0 !important; 
	height:auto !important;
	color: #7c7c7c !important;
	font-weight: 700 !important;
	font-size: 16px !important;
}



.adsmart_search li.menu_item {
	padding:0;margin:0;
	line-height:0;
	border-top:		1px solid	#fbfbfb	 !important ;
	border-bottom:	1px solid	#c8c8c8	 !important ;
}

.adsmart_search li.menu_item:hover { 
	border-color:	none	 !important ;
	background-color: #ededed	 !important ;
}

.adsmart_search .show_all_results {
	vertical-align:middle !important;
	text-align:right !important;
	border: none !important;
	background-color:#2ba591   !important ;
	padding: 10px opx !important;
}

.adsmart_search .show_all_results a {

	color:#ffffff		 !important ;
	font-size:13px	 !important ;
	background:transparent !important;
	display:block !important;
	margin:0 !important;
	height:40px !important;
	text-decoration:none !important;
	padding-right:30px !important;
	font-weight: 700 !important;
}

.adsmart_search .show_all_results a:hover {
	text-decoration:none !important;
	background:transparent !important;
	margin:0 !important;
	border:none !important;
}
	
	

	

/* Scrollbar */	
	
.adsmart_search .viewport {
	overflow:visible;
	height:100%; 
}

.adsmart_search .viewport ul {
    list-style:none;
	position:relative;
	padding:0;
    margin:0;
	width:100%;
}


.adsmart_search.scroll  {
	position:absolute;
}

.adsmart_search.scroll .viewport {
	overflow:hidden;
	position:relative;	
}	

.adsmart_search.scroll .viewport ul {
    position:absolute;
    top:0; left:0;	
}


.adsmart_search.scroll .scrollbar {
    position:absolute;
    top:0px; right:0px;
		background-color: #c8c8c8	 !important ;
	z-index:10;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;   
	box-sizing: border-box;         
}

.adsmart_search.scroll .track { 
    height:100%;
    position:relative;
    padding:0px 1px;
}

.adsmart_search.scroll .thumb{ 
    height:20px;
    overflow:hidden;
    position:absolute;
    top:0; left:0px;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	background-color: #fbfbfb	 !important ;
	
	border-style: solid;
	border-color: #c8c8c8	 !important ;
	border-width: 15px 1px;
	
	-webkit-box-shadow: inset 0px 0px 8px 0px rgba(202, 202, 202, 0.5);
	-moz-box-shadow:    inset 0px 0px 8px 0px rgba(202, 202, 202, 0.5);
	box-shadow:         inset 0px 0px 8px 0px rgba(202, 202, 202, 0.5);
}

.adsmart_search.scroll .track,
.adsmart_search.scroll .thumb,
.adsmart_search.scroll .src_lst_up,
.adsmart_search.scroll .src_lst_down {
	width:100%;
}

.adsmart_search.scroll .src_lst_up,
.adsmart_search.scroll .src_lst_down {
	left:0px;
    height:15px;
	background:gray;
	z-index:10;
	position:absolute;
	cursor:pointer;
	line-height:11px;
	font-size:12px;
	text-align:center;
	padding:0;
	color: #454545  !important ;
	background-color: #fbfbfb	 !important ;
	border:1px solid #c8c8c8	 !important ;
}

.adsmart_search.scroll .src_lst_up {
	top:0px;
}


.adsmart_search.scroll .src_lst_down {
	bottom:0px;
}

.adsmart_search.scroll .disable {
    display:none;
}

.noSelect {
    user-select:none;
    -o-user-select:none;
    -moz-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
}	
